@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'OpenSans Regular';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans Light';
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'OpenSans SemiBold';
    src: url(fonts/OpenSans-Semibold.ttf);
}

#dashboard-memory {
    width: calc(100% - 30px);
    height: calc(40% - 60px);
    margin-left: auto;
    margin-right: auto;
}

#dashboard-status {
    width: calc(100% - 30px);
    height: calc(60% - 60px);
    margin-left: auto;
    margin-right: auto;
}

#dashboard-players {
    width: calc(100% - 30px);
    height: calc(100% - 80px);
}

#dashboard-left {
    height: 100%;
    width: 60%;
    margin-top: 0px;
    position: absolute;
    left: 0px;
}

#dashboard-right {
    position: absolute;
    float: right;
    width: 40%;
    height: 100%;
    right: 0;
}




@font-face {
    font-family: 'OpenSans Bold';
    src: url(fonts/OpenSans-Bold.ttf);
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* To prevent elastic scrolling on OSX */
html,
body {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'OpenSans Regular';
    background-color: #f4f4f4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #434148;
}

#toolbar {
    height: 100%;
    background-color: #4f4c55;
    width: 62px;
    float: left;
}

#content {
    height: 100%;
}

.toolbar-item {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #434148;
    fill: #434148;
}

.toolbar-item.active {
    color: #312f35 !important;
    fill: #312f35 !important;
}

.toolbar-item:hover {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000;
    fill: #000;
}

.toolbar-item svg {
    width: 29px;
    margin-left: auto;
    margin-left: 15px;
    color: #434148;
    height: 29px;
}

.toolbar-item p {
    font-size: 8px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.view {
    width: calc(100% - 62px);
    height: 100%;
    position: absolute;
    right: 0px;
    display: none;
}

.view.active {
    display: block !important;
}

.window {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 1px #323232;
    box-shadow: 0px 0px 1px #323232;
    margin-top: 40px;
}

.window h1, h2, h3, h4 {
    position: absolute;
    margin-top: -32px;
    font-weight: 500;
    margin-left: 12px;
}

#terminal-window {
    width: calc(100% - 60px);
    height: calc(100% - 100px);
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 1px #606060;
    box-shadow: 0px 0px 1px #606060;
    overflow-y: scroll;
}

#terminal-input-window {
    height: 28px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#terminal-window p {
    margin-bottom: 0px;
    margin-top: 0px;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#terminal-input {
    width: calc(100% - 24px);
    height: 100%;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-width: 0px;
}

#console-window-text {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
